infra/besu/node1/data/caches
infra/besu/node1/data/database
infra/besu/node1/data/besu.networks
infra/besu/node1/data/besu.ports
infra/besu/node1/data/caches
infra/besu/node1/data/DATABASE_METADATA.json

infra/besu/node2/data/caches
infra/besu/node2/data/database
infra/besu/node2/data/besu.networks
infra/besu/node2/data/besu.ports
infra/besu/node2/data/caches
infra/besu/node2/data/DATABASE_METADATA.json

infra/besu/node3/data/caches
infra/besu/node3/data/database
infra/besu/node3/data/besu.networks
infra/besu/node3/data/besu.ports
infra/besu/node3/data/caches
infra/besu/node3/data/DATABASE_METADATA.json

infra/besu/node4/data/caches
infra/besu/node4/data/database
infra/besu/node4/data/besu.networks
infra/besu/node4/data/besu.ports
infra/besu/node4/data/caches
infra/besu/node4/data/DATABASE_METADATA.json

infra/besu/log-config.xml